// Colors
$bg-primary : #181820;
$bg-secondary : #21212b;
$primary : #fbfbfb;
$secondary: #9e9ea3;
$white: #fff;
$danger: rgb(209, 68, 68);
$bg-personal: #fc76a1;
$bg-school: #70c4bf;
$bg-design: #a568d4;
$bg-other: #eea61f;
$bg-multicolor: linear-gradient(to right, #e96443, #904e95);
